# first, exclude everything
/*

# include important files
!.gitignore
!README.md
!LICENSE

# include dotfiles in home folder
!.zshenv
!.zshrc
!.zlogin
!.graphicalenv
!.wayenv
!.swayenv
!.qtileenv
!.xinitrc

# include config folder
!.config/

# exclude everything in config folder
.config/*

# include the following subdirectories of the config folder
!.config/nvim/
!.config/fastfetch/
!.config/dunst/
!.config/sway/
!.config/qtile/
!.config/swaylock/
!.config/waybar/
!.config/swayimg/
!.config/openbox/

# but exclude these compiled binaries
.config/openbox/autoreload
.config/qtile/autoreload

# include the following parts of .local/share
!.local/
.local/*
!.local/share/
.local/share/*
# nvim runtime, where extensions live
!.local/share/nvim/
.local/share/nvim/.netrwhist
# this one theme I made for Openbox
!.local/share/themes/
.local/share/themes/*
!.local/share/themes/sakura/

# exclude general junk
**/__pycache__/
