# first, exclude everything
/*

# include important files
!.gitignore
!README.md
!LICENSE

# include dotfiles in home folder
!.zprofile
!.zshenv
!.zshrc

# include config folder
!.config/

# exclude everything in config folder
.config/*

# include the following subdirectories of the config folder
!.config/dunst/
!.config/nvim/
!.config/qtile/
!.config/swaylock/

# but exclude this compiled binary
.config/qtile/autoreload

# include other Neovim configuration like this?
!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/nvim/
.local/share/nvim/.netrwhist

# exclude general junk
**/__pycache__/
